@if (loading) {
    <div>Loading...</div>
  }
  @if (error) {
    <div>Error</div>
  }
  @if (employees) {
    <h2>Employee List</h2>
    <table>
        <thead>
            <tr>
              <th>Name</th>
              <th>Department</th>
              <th>Designation</th>
              <th colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (employee of employees; track $index) {
                <tr>
                        <td>{{ employee.last_name }}, {{ employee.first_name }}</td>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.designation }}</td>
                        <td>
                            <form action="/employee/view/{{ employee._id }}">
                              <input type="submit" value="View"/>
                            </form>
                        </td>
                        <td>
                          <form action="/employee/update/{{ employee._id }}">
                            <input type="submit" value="Update" />
                          </form>
                        </td>
                        <td>
                          <button (click)="deleteEmployee(employee._id)">Delete</button>
                        </td>
                </tr>
            }
              <tr>
                <td>
                  <form action="/employee/add">
                    <input type="submit" value="Add" />
                  </form>
                </td>
              </tr>
          </tbody>
    </table>
  }
