<form [formGroup]="form" (ngSubmit)="login()">
    <label for="username"> Username </label>
    <input type="text" id="username" formControlName="username">
    <br>
    <label for="password"> Password </label>
    <input type="text" id="password" formControlName="password">
    <br>
    <table>
        <tr>
            <td>
                <button type="submit">Login</button>
            </td>
            <td>
                <form action="/signup">
                    <input type="submit" value="Sign Up" />
                </form>
            </td>
        </tr>
    </table>
</form>
@if (loading) {
    <div>Loading...</div>
}
@if (error) {
    <h3>Login Failed</h3>
    <p>{{ error }}</p>
}